<section id="hero">
  <!--<div class="hero-container">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        &lt;!&ndash; Slide 1 &ndash;&gt;
        <div class="carousel-item active" style="background: url(assets/img/slide/slide-1.jpg);">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown"><span>Ananas &</span> Salmon</h2>
              <p class="animate__animated animate__fadeInUp">Esperto nella pizza all'ananas e salmone affumicato, personalizazione possibile con mango fresco e curry bananoso.</p>
              <div>
                <a routerLink="/nav/menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Our Menu</a>
                <a href="#book-a-table" class="btn-book animate__animated animate__fadeInUp scrollto">Book a Table</a>
              </div>
            </div>
          </div>
        </div>

        &lt;!&ndash; Slide 2 &ndash;&gt;
        <div class="carousel-item" style="background: url(assets/img/slide/slide-2.jpg);">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Lorem Ipsum Dolor</h2>
              <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
              <div>
                <a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Our Menu</a>
                <a href="#book-a-table" class="btn-book animate__animated animate__fadeInUp scrollto">Book a Table</a>
              </div>
            </div>
          </div>
        </div>

        &lt;!&ndash; Slide 3 &ndash;&gt;
        <div class="carousel-item" style="background: url(assets/img/slide/slide-3.jpg);">
          <div class="carousel-background"><img src="assets/img/slide/slide-3.jpg" alt=""></div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
              <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
              <div>
                <a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Our Menu</a>
                <a href="#book-a-table" class="btn-book animate__animated animate__fadeInUp scrollto">Book a Table</a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </div>-->
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../assets/img/slide/slide-1.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>Ananas & Salmon</h3>
        <p>Esperto nella pizza all'ananas e salmone affumicato, personalizazione possibile con mango fresco e curry bananoso.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../assets/img/slide/slide-2.jpg" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Ananas & Salmon</h3>
        <p>Esperto nella pizza all'ananas e salmone affumicato, personalizazione possibile con mango fresco e curry bananoso.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../assets/img/slide/slide-3.jpg" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Ananas & Salmon</h3>
        <p>Esperto nella pizza all'ananas e salmone affumicato, personalizazione possibile con mango fresco e curry bananoso.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</section>
