<header id="header" class="fixed-top d-flex align-items-center header-transparent">
  <div class="container d-flex align-items-center">

    <div class="logo mr-auto">
      <!--<h1 class="text-light"><a href="index.html"><span>Delicious</span></a></h1>-->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a routerLink="home"><img src="../../assets/img/logo.png" width="40" alt="" class="img-fluid"></a>
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/nav/about">About</a></li>
        <li routerLinkActive="active"><a routerLink="/nav/menu">Menu</a></li>
        <li routerLinkActive="active"><a routerLink="/nav/specials">Specials</a></li>
        <li routerLinkActive="active"><a routerLink="/nav/events">Events</a></li>
        <li routerLinkActive="active"><a routerLink="/nav/chefs">Chefs</a></li>
        <li routerLinkActive="active"><a routerLink="/nav/gallery">Gallery</a></li>
        <li routerLinkActive="active"><a routerLink="/nav/contact">Contact</a></li>
        <!--<li routerLinkActive="active" class="book-a-table text-center"><a href="#book-a-table">Reserve Table</a></li>-->
      </ul>
    </nav>

  </div>
</header>
