<section id="topbar" class="d-none d-lg-flex align-items-center fixed-top topbar-transparent">
  <div class="container text-right">
    <i class="icofont-phone"></i> +1 5589 55488 55
    <i class="icofont-clock-time icofont-rotate-180"></i> Mon-Sat: 11:00 AM - 23:00 PM
  </div>
</section>
